div {
    width: 100px;
    height: 50px;
    background-color: red;
    font-weight: bold;
    position: relative;
    animation-name: mymove;
    animation-direction: alternate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    padding: 15px 50px;
    animation-direction: 
    text-align: center;

}

#div1 {animation-timing-function: linear;}
#div2 {animation-timing-function: ease;}
#div3 {animation-timing-function: ease-in;}
#div4 {animation-timing-function: ease-out;}
#div5 {animation-timing-function: ease-in-out;}

@keyframes mymove {
    from {
        left: 0px;
        background-color: red;
        border-radius: 100%;
    }
    to {
        left: 300px;
        background-color: green;
        
    }
}